* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    position: relative;
    background: #fff;
    color: #000;
}

ul,
li {
    list-style-type: none;
    margin: 0;
}

a {
    color: #000;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a:hover {
    color: #e44a7a;
}

.banner_section {
    position: relative;
    padding: 0 50px;
}

.banner_text {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}

h1 {
    font-family: "Nueva Std";
    font-size: 50px;
    margin-bottom: 10px;
}

h1 span {
    display: block;
    font-size: 80px;
    line-height: 0.8;
    color: #e44a7a;
}

.btn {
    padding: 12px 45px;
    background-color: #e44a7a;
    color: #fff;
    border-radius: 50px;
    margin-top: 30px;
    border: 2px solid #e44a7a;
}

.btn:hover {
    background-color: transparent;
    color: #000;
}

.owl-nav .owl-prev span ,
.owl-nav .owl-next span{
    font-size: 30px;
}

.owl-nav button:focus {
    outline: none;
}

.owl-nav .owl-prev , 
.owl-nav .owl-next {
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFF !important;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 12px #ccc;
    transition: .5s;
}

.owl-nav .owl-next {
    left: auto;
    right: -25px;
}

.owl-nav .owl-prev:hover ,
.owl-nav .owl-next:hover {
    background-color: #e44a7a !important;
}